img{
    max-width: 300px;
    max-height: 191px;
    min-width: 300px;
    min-height: 191px;
}

* {
    transition: all .5s;
}

p {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.5em;
}
section{
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
}
section:hover{
    background-color:#b0c1d1;
    cursor: pointer;
    color:red;
}

body{
    background-color: #e2e4e5;
    text-align: center;
}
h1{
    background-color: #eceff1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    text-shadow: 1px 1px 2px red;
    padding: 10px;
    text-transform: uppercase;
}